<div>
  <button *ngIf="admin == true" (click)="clearSubmissions()">Clear Submissions</button>
  <button *ngIf="admin == true" (click)="publishSelection()">Publish Selected</button>
</div>
<br>
<br>
<!-- posts list div -->
<h3>{{currRoom}}</h3>
<div id="posts">
  <div *ngFor= "let post of posts" id="post" [class.highlight]="post.selected" (click)="viewPost(post)">
    <p>{{post.nickname}}</p>
    <pre class = "post" >{{post.body}}</pre>
  </div>
</div>

<!-- code main display -->
<pre class="codeBox">
  <code id="displayCode">{{selectedPost.body}}</code>
</pre>
