<!--The whole content below can be removed with the new code.-->
<h2>Select Problem: </h2>

  <!-- drop down menu -->
  <select name="Problems" id="probs" [(ngModel)]="currProb" (change)="selectProblem()">
    <option *ngFor= "let prob of probs" [value]="prob"> {{prob}} </option>
  </select>

  <!-- drop down buttons -->
  <button id="deleteProblem" class="delete" *ngIf="admin == true" (click)="deleteProblem()">Delete</button>
  <button id="createProblem" class="create" *ngIf="admin == true" (click)="createProblem()">Create New Category</button>
  <br>
