/* You can add global styles to this file, and also import other style files */

body{
  background-color: rgb(127, 179, 198);
}
button{
  font-size: 1.2vw;
  border-color: inherit;
  margin-right: 1%;
}
select{
  font-size: 1.2vw;
}

.create:hover{
  background-color: rgb(213, 249, 209);
}

.delete:hover{
  background-color: rgb(242, 200, 196);
}
