/* You can add global styles to this file, and also import other style files */
body{
  background-color: rgb(127, 179, 198);
}
button{
  font-size: 1.2vw;
  border-color: inherit;
}
select{
  font-size: 1.2vw;
}
